$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$youtube: hsl(348, 97%, 39%);

:root {
    .dark-theme {
        --toggle: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
        --toggle-hover: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
        --bg: hsl(230, 17%, 14%);
        --top-bg-pattern: hsl(232, 19%, 15%);
        --card-bg: hsl(228, 28%, 20%);
        --text-1: hsl(228, 34%, 66%);
        --text-2: hsl(0, 0%, 100%);
        --bg-hover: #333a56;
    }

    .light-theme {
        --toggle: linear-gradient(0deg, hsl(230, 22%, 74%), hsl(230, 22%, 74%));
        --toggle-hover: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
        --bg: hsl(0, 0%, 100%);
        --top-bg-pattern: hsl(225, 100%, 98%);
        --card-bg: hsl(227, 47%, 96%);
        --text-1: hsl(228, 12%, 44%);
        --text-2: hsl(230, 17%, 14%);
        --bg-hover: #e1e3f0;
    }
}

@import "general";
@import "dashboard";
@import "media-910";
@import "media-1440";